.git
.gitignore
docker-compose.yml
.docker
tests/__pycache__
pycache/
*/pycache/
*/*/pycache/
*/*/*/pycache/
*/*.py[cod]
.Python
develop-eggs/
downloads/
var/
.installed.cfg
htmlcov/
.tox/
.coverage
.cache
.venv/
venv/
.idea
README.md
